.3T
.CFUserTextEncoding
.DS_Store
.Trash
.android
.aws
.babel.json
.bash_history
.bash_profile
.bash_profile.macports-saved_2016-09-09_at_13:58:57
.bash_sessions
.bashrc
.bundle
.cache
.composer
.config
.cups
.data-store
.date-store
.dbshell
.docker
.esets
.fakeSMTP.properties
.freemind
.gem
.gfclient
.gitconfig
.inputrc
.jrebel
.local
.lotto
.m2
.mkshrc
.mongorc.js
.nchsoftware
.netrc
.node-gyp
.node_repl_history
.npm
.npmrc
.oracle_jre_usage
.profile
.quokka
.rvm
.sonarlint
.ssh
.subversion
.swt
.v8flags.5.0.71.57.9ef966fd809bc5aca1567fd9ba6039dd.json
.v8flags.5.0.71.57.mgab.json
.viminfo
.vscode
.vue-templates
.yarnrc
.zlogin
.zshrc
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
bin
composer.phar
java_error_in_idea.hprof
setupWorkspace.sh
work